<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"   />
  <meta http-equiv="X-UA-Compatible"  content="IE=edge">
  <meta name="viewport"  content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <title>综合案例-学生管理</title>
</head>

<body>
  <div id="app">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">学生管理</h3>
      </div>
      <div class="panel-body">
        <label for="brand" class="col-sm-3">
          班级：<input type="text" id="classmate" v-model="classmateParam">
        </label>
        <button type="button" class="btn btn-primary" @click="query">查询</button>
        <button type="button" class="btn btn-primary" @click="addStudent">添加</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>班级</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in students" :key="item.id">
            <td>{{item.classmate}}</td>
            <td>{{item.username}}</td>
            <td>{{item.sex}}</td>
            <td>{{item.age}}</td>
            <td>
              <button @click="modifyStudent(index)">修改</button>
              <button @click="deleteStudent(index)">删除</button>
            </td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-dialog">
      <legend>添加学生</legend>
      <div class="form-group">
        <label>班级</label>
        <input type="text" v-model="classmate" class="form-control" placeholder="如：移动1851">
      </div>
      <div class="form-group">
        <label>姓名</label>
        <input type="text" v-model="username" class="form-control" placeholder="如：张三">
      </div>
      <div class="form-group">
        <label>年龄</label>
        <input type="text" v-model.number="age" class="form-control" placeholder="如：20">
      </div>
      <div class="form-group">
        <label>性别</label>
        <div class="radio">
          <label for=""><input type="radio" v-model="sex" value="男">男</label>
          <label for=""><input type="radio" v-model="sex" value="女">女</label>
        </div>
      </div>
      <button type="submit" @click="addStudent" class=" btn btn-primary">提交</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        id: 0, // id
        classmate: '', // 班级
        username: '', // 姓名
        age: 20, // 年龄
        sex: '男', // 性别
        students: [], // 学生集合
        classmateParam: '', // 查询参数：班级
      },
      methods: {
        addStudent() {
          this.students.push({
            id: this.id++,
            classmate: this.classmate,
            username: this.username,
            age: this.age,
            sex: this.sex
          })
          this.classmate = ''
          this.username = ''
          this.age = 20
          this.sex = '男'
        },
        deleteStudent(index) {
          this.students.splice(index, 1)
        },
        modifyStudent(index) {
          this.classmate = this.students[index].classmate
          this.username = this.students[index].username
          this.age = this.students[index].age
          this.sex = this.students[index].sex
        },
        query() {
          let _this = this
          this.students = this.students.filter(function (item) {
            return item.classmate.includes(_this.classmateParam)
          })
        }
      },
    })
  </script>
</body>

</html>